.button{
    width: 305px;
    height: 73px;
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #2B3037;
    border: none;
    cursor:pointer;
    background: #FFFFFF;
    border-radius: 6px;
    &:hover{
        background: #929292;
    }
    
}
.button__form{
    width: 304px; 
    height: 94px;
}





