.info{
    
    padding: 50px 0 98px 0;
    &__dflex{
        display: flex;
        justify-content: center;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding-right: 138px;
    }
    &__icon{
        max-width: 100%;
        height: auto;
    }
    &__subheader{
        display: flex;
        font-size: 30px;
        line-height: 35px;
        font-weight: 400;
        color: #2B3037;
        align-items: center;
        width: 58%;
    }
}

@media (max-width: 1200px){
    .info{
        &__dflex{
            justify-content: space-between;
        }
        &__subheader{
            font-size: 24px;
            line-height: 28px;
            width: 36%;
        }
    }

}

@media (max-width: 960px){
    .info{
        &__subheader{
           padding-left: 14px; 
           font-size: 20px;
        }
        &__item{
            width: 135px;
        }
        &__icon{
            width: 100%;
        }

    }
}

@media (max-width: 640px){
    .info{
        padding: 22px 0 89px 0;
        &__dflex{
            display: block;
        }
        &__item{
            padding-right: 10px;
        }
    }
}