.h2{
    font-size: 50px;
    line-height: 59px;
    font-weight: 700;
    color: #2B3037;
    
}

@media (max-width: 1200px){
    .h2{
        font-size: 40px;
        line-height: 47px;
    }
}
@media (max-width: 960px){
    .h2{
        font-size: 30px;
        line-height: 35px;
        width: 60%;
    }
}
@media (max-width: 640px){
    .h2{
        width: 220px;
    }
}